{
  "presets": [
    ["env"]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["module-resolver", {
      "alias": {
        "package": "./"
      }
    }]
  ]
}
